body {
    overflow: hidden;
}

#surface {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(240, 240, 240);

}

#card, #picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


#card img {
    width: 200px;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
}

.click {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.arrow {
    margin: 0 auto;
    position: relative;
    width: 50px;
    height: 50px;
}

.arrow span {
    height: 1px;
    width: 14px;
    background: rgb(0, 0, 0);
}

.arrow span:first-child {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 35%;
}

.arrow span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 35%;
}

.arrow span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 54%;
}

.arrow span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 54%;
}



.erase {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

/* それぞれのコンテンツに関するCSS ↓*/
.contents {
    z-index: 50;
    border-radius: 50%;
    opacity: 0.9;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px;
    font-size: 25px;
    font-family: 'Kiwi Maru', serif;
    white-space: nowrap;
}

.portfolio {
    background: #a8dcff;
    top: 60%;
    left: 70%;
}

.about {
    background: #ffa8a8;
    top: 80%;
    left: 30%;
}

.skills {
    background: #a8ffa8;
    top: 30%;
    left: 20%;
}

ul {
    margin: 0;
}

lh {
    font-size: 29px;
}

li:hover {
    font-size: 28px;
    transition: 0.5s;
}

.fukidashi_trigger {
    position: relative;
}

.fukidashi_trigger:hover .fukidashi {
    display: block;
}

.fukidashi {
    z-index: 100;
    color: rgb(245, 245, 245);
    position: absolute;
    display: none;
    padding: 35px;
    border-radius: 45%;
    background-color: rgb(62, 62, 62);
    white-space: nowrap;
    font-size: 18px;
}

.fukidashi::after {
    content: "";
    position: absolute;
}

.skills .fukidashi{
    top: -35px;
    right: -120%;

}
.skills .fukidashi::after{
    border-right: 26px solid rgb(62, 62, 62);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 40%;
    left: -5%;

}
.portfolio .fukidashi{
    top: -50px;
    right: 115%;

}
.portfolio .fukidashi::after{
    border-left: 26px solid rgb(62, 62, 62);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 42%;
    right: -5%;

}


.contents p {
    font-size: 20px;
    text-align: right;
    margin: 0 auto;
}

/* それぞれのコンテンツに関するCSS↑ */






#picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    top: 10px;
    position: relative;

}













.background {
    z-index: -100;
    position: absolute;
    background: #ffffa8;
    top: 90%;
    left: 50%;
    height: 90%;
    width: 80%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
}