html{
    overflow: hidden;
}
@media (max-width: 768px) {
    :root {
      font-size: 15px;
      min-height: 0vw;
    }
  }
  @media (min-width: 769px) {
    :root {
      font-size: 22px;
    }
  }

.erase {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

/* それぞれのコンテンツに関するCSS ↓*/
.contents {
    z-index: 50;
    border-radius: 50%;
    opacity: 0.9;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Kiwi Maru', serif;
    white-space: nowrap;
}

.portfolio {
    background: #a8dcff;
    top: 55%;
    left: 70%;
}

.portfolio .fukidashi {
    bottom: 140px;
    right: 80%;

}

.about {
    background: #ffa8a8;
    top: 80%;
    left: 30%;
}

.about .fukidashi {
    top: -35px;
    left: 60%;
}

.skills {
    background: #a8ffa8;
    top: 30%;
    left: 25%;
}

.skills .fukidashi {
    top: -15px;
    left: 85%;

}

ul {
    margin: 0;
}

lh {
    font-size: 1.2em;
    font-weight: 600;
}

li {
    display: table;
}

li:hover {
    font-size: 1.05em;
    transition: 0.5s;
}

.fukidashi {
    z-index: 100;
    color: rgb(245, 245, 245);
    position: fixed;
    display: none;
    padding: 35px;
    border-radius: 45%;
    background-color: rgb(62, 62, 62);
    white-space: nowrap;
    font-size: 18px;
}

.fukidashi_trigger:hover .fukidashi {
    animation: fadein 0.5s ease 0s 1 normal;
    display: block;
}

.contents a {
    font-size: 0.8em;
    font-weight: 500;
    text-align: right;
    margin: 0 auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contents a:hover {
    font-size: 22px;
    transition: 0.5s;
}

.contents a p {
    margin: 0;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/* それぞれのコンテンツに関するCSS↑ */

#picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.title {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    top: 10px;
    position: relative;
}

.explain {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    left: 13%;
}

.background {
    z-index: -100;
    position: absolute;
    background: #ffffa8;
    top: 90%;
    left: 50%;
    height: 90%;
    max-width: 960px;
    min-width: 500px;
    width: 80%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
}

