#surface {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(240, 240, 240);

}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#card img {
    width: 200px;
}

.click {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.arrow {
    margin: 0 auto;
    position: relative;
    width: 50px;
    height: 50px;
}

.arrow span {
    height: 1px;
    width: 14px;
    background: rgb(0, 0, 0);
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 54%;
}

.erase {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}